<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/register" method="post">
    <label>First name</label>
    <input type="text" name="firstName" placeholder="Имя пользователя">
    <br>
    <label>Last Name</label>
    <input type="text" name="lastName" placeholder="Имя пользователя">
    <br>
    <label>Password</label>
    <input type="password" name="password" placeholder="Пароль">
    <br>
    <label>Age</label>
    <input type="text" name="Age" placeholder="Имя пользователя">
    <br>
    <label>Username</label>
    <input type="text" name="username" placeholder="Имя пользователя">
    <br>
    <select id="roles" name="roles" multiple>
        <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
    </select>
    <button type="submit" class="btn btn-outline-success">Зарегистрироваться</button>
</form>


</form>
<br/>
<!--<form th:action="@{/logout}" method="post">-->
<!--    <button type="submit">Logout</button>-->
<!--</form>-->
</body>
</html>